In [9]:
from data_cleaniser.scraper import get_wiki_page
from data_cleaniser.data_cleaner import data_cleaner

In [16]:
dict_of_urls = {
    "pop_density": "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density",
    "pop_percent": "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population",
    "pop_by_age": "https://en.wikipedia.org/wiki/List_of_countries_by_age_structure",
    "mortality_inf_u_5": "https://en.wikipedia.org/wiki/List_of_countries_by_infant_and_under-five_mortality_rates",
    "literacy_rate": "https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate",  # gender gap shown here
    "GDP_PC": "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita",
    "min_wage":  "https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage",
    "gini_coef": "https://en.wikipedia.org/wiki/List_of_countries_by_income_equality"
}

In [11]:
dict_of_df = {}
for k, v in dict_of_urls.items():
    try:
        df = get_wiki_page(v)
        print(df)
        df = data_cleaner(df)
        dict_of_df[k] = df
        print(f'{v} passed!')
    except:
        print(f'{k} failed')

0
{0:                     Location  Density /km2  Density /mi2  Population  \
0                        NaN           NaN           NaN         NaN
1            Macau * (China)      21000.00     54000.000    704150.0
2                   Monaco *      18000.00     47000.000     36298.0
3                Singapore *       8250.00     21400.000   6014723.0
4        Hong Kong * (China)       6725.00     17420.000   7491609.0
..                       ...           ...           ...         ...
248         Western Sahara *          2.00         5.200    587259.0
249               Mongolia *          2.00         5.200   3447157.0
250  Pitcairn Islands * (UK)          0.90         2.300        40.0
251  Falkland Islands * (UK)          0.30         0.780      3791.0
252    Greenland * (Denmark)          0.03         0.078     56643.0

      Area km2   Area mi2 Unnamed: 6
0          NaN        NaN        NaN
1         33.0      13.00        NaN
2          2.0       0.77        [3]
3        729.0     281.00        NaN
4       1114.0     430.00        NaN
..         ...        ...        ...
248   266000.0  103000.00        NaN
249  1564116.0  603909.00        NaN
250       47.0      18.00       [24]
251    12173.0    4700.00        NaN
252  2166086.0  836330.00        NaN

[253 rows x 7 columns]}
https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density passed!
0
1
2
{0:                Country Youth (15 to 24)         Adult (25+)          \
               Country             Rate    Year        Rate    Year
0        Afghanistan *             47.0  2011.0        31.7  2011.0
1            Albania *             99.2  2012.0        97.2  2012.0
2            Algeria *             93.8  2008.0        75.1  2008.0
3     American Samoa *             97.7  1980.0        97.3  1980.0
4            Andorra *              NaN     NaN         NaN     NaN
..                 ...              ...     ...         ...     ...
229  Wallis and Futuna              NaN     NaN         NaN     NaN
230     Western Sahara              NaN     NaN         NaN     NaN
231            Yemen *             77.0  2004.0        54.1  2004.0
232           Zambia *             88.7  2010.0        83.0  2010.0
233         Zimbabwe *             90.4  2014.0        88.7  2014.0

    Elderly (65+)         Youth Gender Parity Index
             Rate    Year                      Rate    Year
0            20.3  2011.0                       0.5  2011.0
1            86.9  2012.0                       1.0  2012.0
2            19.5  2008.0                       1.0  2008.0
3            92.7  1980.0                       1.0  1980.0
4             NaN     NaN                       NaN     NaN
..            ...     ...                       ...     ...
229           NaN     NaN                       NaN     NaN
230           NaN     NaN                       NaN     NaN
231          13.7  2004.0                       0.7  2004.0
232          52.3  2010.0                       0.9  2010.0
233          81.1  2014.0                       1.1  2014.0

[234 rows x 9 columns], 1:            Country Literacy rate[10][11]
           Country                 Total    Male  Female Gender Gap  Year
0    Afghanistan *                 37.3%   52.1%   22.6%      29.5%  2021
1        Albania *                 98.1%   98.5%   97.8%       0.7%  2018
2        Algeria *                 81.4%   87.4%   75.3%      12.1%  2018
3        Andorra *                100.0%  100.0%  100.0%       0.0%  2016
4         Angola *                 71.1%   82.0%   60.7%      21.3%  2015
..             ...                   ...     ...     ...        ...   ...
191      Vietnam *                 95.8%   97.0%   94.6%       2.4%  2019
192        Yemen *                 70.1%   85.1%   55.0%      30.1%  2015
193       Zambia *                 86.7%   90.6%   83.1%       7.5%  2018
194     Zimbabwe *                 86.5%   88.5%   84.6%       3.9%  2015
195          World                 86.7%   90.1%   83.3%       6.8%  2020

[196 rows x 6 columns], 2:         Territory Literacy rate (all) Male literacy Female literacy  \
0           Aruba               97.5%         97.5%           97.5%
1  Cayman Islands               98.9%         98.7%           99.0%
2      Guadeloupe               96.5%         96.4%           96.6%
3            Guam               99.8%         99.8%           99.8%
4          Kosovo               91.9%         96.6%           87.5%
5           Macau               96.2%         98.0%           94.6%
6      Martinique               97.0%         97.6%           96.4%
7   New Caledonia               96.9%         97.3%           96.5%
8     Puerto Rico               93.3%         92.8%           93.8%
9         Réunion               93.9%         93.2%           94.5%

  Gender difference     Year  \
0              0.0%  2015[1]
1             -0.3%  2007[1]
2             -0.2%  2015[1]
3              0.0%  2015[1]
4              9.1%  2003[2]
5              3.4%  2015[1]
6              1.2%  2015[1]
7              0.8%  2015[1]
8             -1.0%  2015[1]
9             -1.3%  2015[1]

                                               Notes
0  A constituent country of the Kingdom of the Ne...
1       An overseas territory of the United Kingdom.
2              Overseas region/department of France.
3  An unincorporated and organized territory of t...
4  Member of two UN specialized agencies (World B...
5          A special administrative region of China.
6              Overseas region/department of France.
7              Overseas region/department of France.
8     Unincorporated territory of the United States.
9              Overseas region/department of France.  }
https://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate passed!

In [15]:
dict_of_df['literacy_rate']

{0:                Country Youth (15 to 24)         Adult (25+)          \
                Country             Rate    Year        Rate    Year
 0        Afghanistan               47.0  2011.0        31.7  2011.0
 1            Albania               99.2  2012.0        97.2  2012.0
 2            Algeria               93.8  2008.0        75.1  2008.0
 3     American Samoa               97.7  1980.0        97.3  1980.0
 4            Andorra                NaN     NaN         NaN     NaN
 ..                 ...              ...     ...         ...     ...
 229  Wallis and Futuna              NaN     NaN         NaN     NaN
 230     Western Sahara              NaN     NaN         NaN     NaN
 231            Yemen               77.0  2004.0        54.1  2004.0
 232           Zambia               88.7  2010.0        83.0  2010.0
 233         Zimbabwe               90.4  2014.0        88.7  2014.0

     Elderly (65+)         Youth Gender Parity Index
              Rate    Year                      Rate    Year
 0            20.3  2011.0                       0.5  2011.0
 1            86.9  2012.0                       1.0  2012.0
 2            19.5  2008.0                       1.0  2008.0
 3            92.7  1980.0                       1.0  1980.0
 4             NaN     NaN                       NaN     NaN
 ..            ...     ...                       ...     ...
 229           NaN     NaN                       NaN     NaN
 230           NaN     NaN                       NaN     NaN
 231          13.7  2004.0                       0.7  2004.0
 232          52.3  2010.0                       0.9  2010.0
 233          81.1  2014.0                       1.1  2014.0

 [234 rows x 9 columns],
 1:            Country Literacy rate[10][11]
            Country                 Total    Male  Female Gender Gap  Year
 0    Afghanistan                   37.3    52.1    22.6       29.5   2021
 1        Albania                   98.1    98.5    97.8        0.7   2018
 2        Algeria                   81.4    87.4    75.3       12.1   2018
 3        Andorra                  100.0   100.0   100.0        0.0   2016
 4         Angola                   71.1    82.0    60.7       21.3   2015
 ..             ...                   ...     ...     ...        ...   ...
 191      Vietnam                   95.8    97.0    94.6        2.4   2019
 192        Yemen                   70.1    85.1    55.0       30.1   2015
 193       Zambia                   86.7    90.6    83.1        7.5   2018
 194     Zimbabwe                   86.5    88.5    84.6        3.9   2015
 195          World                 86.7    90.1    83.3        6.8   2020

 [196 rows x 6 columns],
 2:         Territory Literacy rate (all) Male literacy Female literacy  \
 0           Aruba               97.5          97.5            97.5
 1  Cayman Islands               98.9          98.7            99.0
 2      Guadeloupe               96.5          96.4            96.6
 3            Guam               99.8          99.8            99.8
 4          Kosovo               91.9          96.6            87.5
 5           Macau               96.2          98.0            94.6
 6      Martinique               97.0          97.6            96.4
 7   New Caledonia               96.9          97.3            96.5
 8     Puerto Rico               93.3          92.8            93.8
 9         Réunion               93.9          93.2            94.5

   Gender difference     Year  \
 0              0.0   2015[1]
 1             -0.3   2007[1]
 2             -0.2   2015[1]
 3              0.0   2015[1]
 4              9.1   2003[2]
 5              3.4   2015[1]
 6              1.2   2015[1]
 7              0.8   2015[1]
 8             -1.0   2015[1]
 9             -1.3   2015[1]

                                                Notes
 0  A constituent country of the Kingdom of the Ne...
 1       An overseas territory of the United Kingdom.
 2              Overseas region/department of France.
 3  An unincorporated and organized territory of t...
 4  Member of two UN specialized agencies  World B...
 5          A special administrative region of China.
 6              Overseas region/department of France.
 7              Overseas region/department of France.
 8     Unincorporated territory of the United States.
 9              Overseas region/department of France.  }

In [4]:
dict_of_df = get_wiki_page(dict_of_urls["literacy_rate"])

In [11]:
dict_of_df[1]

           Country Literacy rate[10][11]
           Country                 Total    Male  Female Gender Gap  Year
0    Afghanistan *                 37.3%   52.1%   22.6%      29.5%  2021
1        Albania *                 98.1%   98.5%   97.8%       0.7%  2018
2        Algeria *                 81.4%   87.4%   75.3%      12.1%  2018
3        Andorra *                100.0%  100.0%  100.0%       0.0%  2016
4         Angola *                 71.1%   82.0%   60.7%      21.3%  2015
..             ...                   ...     ...     ...        ...   ...
191      Vietnam *                 95.8%   97.0%   94.6%       2.4%  2019
192        Yemen *                 70.1%   85.1%   55.0%      30.1%  2015
193       Zambia *                 86.7%   90.6%   83.1%       7.5%  2018
194     Zimbabwe *                 86.5%   88.5%   84.6%       3.9%  2015
195          World                 86.7%   90.1%   83.3%       6.8%  2020

[196 rows x 6 columns]

In [7]:
df = data_cleaner(dict_of_df)

In [10]:
df[1]

           Country Literacy rate[10][11]
           Country                 Total    Male  Female Gender Gap  Year
0    Afghanistan                   37.3    52.1    22.6       29.5   2021
1        Albania                   98.1    98.5    97.8        0.7   2018
2        Algeria                   81.4    87.4    75.3       12.1   2018
3        Andorra                  100.0   100.0   100.0        0.0   2016
4         Angola                   71.1    82.0    60.7       21.3   2015
..             ...                   ...     ...     ...        ...   ...
191      Vietnam                   95.8    97.0    94.6        2.4   2019
192        Yemen                   70.1    85.1    55.0       30.1   2015
193       Zambia                   86.7    90.6    83.1        7.5   2018
194     Zimbabwe                   86.5    88.5    84.6        3.9   2015
195          World                 86.7    90.1    83.3        6.8   2020

[196 rows x 6 columns]